/**
    * Author: @gonzo036
    * Date: 04/22/2022
    * Ticket: TICKET-XXXXXXXX
    * Description: this file contains List product result styles
*/
@import "./variables";

.search_list 
{
    display: flex;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;

    @include mobile
    {
        display: block;
    }

    &:last-child::after
    {
        display: none;
    }
    &::after
    {
        content: "";
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        height: 1px;
        border: 0;
        position: absolute;
        background-color: $bg-semi-white;
        width: 100%;
        bottom: 0;
    }
    .item_img_list
    {
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
        @include mobile
        {
            display: block;
            margin: 0 auto;
        }
        img 
        {
            width: 180px;
            height: 180px;
        }
    }
    .list_detail
    {
        padding-top: 15px;
        width: calc(100% - 216px);
        @include mobile
        {
            width: 100%;
        }
    }
    .list_detail_price
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include mobile
        {
            display: block;
        }
    }
    .list_detail_small_price_content
    {
        display: flex;
        align-items: center;
    }
    .list_detail_price
    {
        font-size: $font-size-24;
        margin-right: 10px;
    }
    .list_detail_avalible_shipping 
    {
        max-width: 18px;
        height: 18px;
    }
    
    .list_detail_country 
    {
        font-size: $font-size-12;
        padding-right: 60px;
        color: #999999;
    }
    .list_detail_text_description 
    {
        font-size: $font-size-18;
        width: calc(100% - 200px);
        margin-top: 32px;
        cursor: pointer;
        @include mobile
        {
            width: 100%;
        }
    }
}

